<div class="album-container">

  <div class="logo-wrapper" style="margin-top: 5vh;">
    <img src="samuthra.ico" style="border-radius: 0.6vw; width: 8vw;" alt="Studio Samuthra Logo">
  </div>

  <ng-container *ngIf="photoUrls$ | async as photoUrls">

    <!-- Layout Toggle -->
    <div *ngIf="photoUrls.length > 0" class="layout-bar">
      <button [class.active]="layoutMode === 'grid'" (click)="setLayout('grid')">
        <svg lucideLayoutGrid></svg>
      </button>

      <button [class.active]="layoutMode === 'masonry'" (click)="setLayout('masonry')">
        <svg lucideLayoutDashboard></svg>
      </button>
    </div>

    <!-- Grid -->
    <div class="grid-container" [class.grid-mode]="layoutMode === 'grid'">
      <div *ngFor="let url of photoUrls; let i = index; trackBy: trackByUrl" class="grid-item">
        <img [src]="url" loading="lazy" class="lazy-img" (load)="onImageLoad($event)" (click)="openImage(url, i)">
      </div>
    </div>

    <!-- Empty -->
    <div *ngIf="photoUrls.length === 0" class="empty-state">
      No photos uploaded yet.
    </div>

  </ng-container>
</div>

<!-- Profile -->
<div class="profile-section" style="margin-bottom: 7vh;
  padding: 5vh;">
  <div class="row justify-content-center align-items-center">
    <div class="col-md-auto">
      <h2>Check out my 500px Profile</h2>
    </div>
    <div class="col-md-auto">
      <a class="btn btn-light btn-lg" href="https://500px.com/p/aakass?view=photos" target="_blank">
        View Profile
      </a>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal" *ngIf="selectedImage" 
     [class.closing]="isClosing" 
     (click)="onBackdropClick($event)">
  <!-- Close -->
  <button class="close-btn" (click)="closeImage(); $event.stopPropagation()">
    ✕
  </button>

  <!-- Prev -->
 <button class="nav-btn left" (click)="prevImage($event); $event.stopPropagation()">
        <svg lucideChevronLeft></svg>
</button>

<button class="nav-btn right" (click)="nextImage($event); $event.stopPropagation()">
        <svg lucideChevronRight></svg>
</button>

  <!-- Image -->
  <div class="modal-image-wrapper">
  <img 
    [src]="selectedImage" 
    class="modal-image" 
    [class.closing]="isClosing"
    (click)="stopPropagation($event)">
</div>


</div>